![datamodel.PNG](datamodel.PNG)

### Loading into Database

* **Our goal is loading teleco customer data into postgreSQL database**. Python becomes ubiquitous in more-and-more fields nowadays. So itâ€™s no surprise that Python has solutions for ETL. Yes we are going to use one of the python libraries psycopg2 for ETL.

In [1]:
import psycopg2
import pandas as pd  
import numpy as np

In [2]:
churn_df = pd.read_csv('Telco-Customer-Churn.csv')
churn_df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

* I have created 2 tables from the dataset.One table with customer details and another table with telco services and their payment methods.


#### customer_details

   * customerID*
   * gender
   * SeniorCitizen
   * Partner
   * Dependents
   * tenure
    
#### telco_services

   * customerID 
   * PhoneService
   * MultipleLines          
   * InternetService
   * OnlineSecurity
   * OnlineBackup
   * DeviceProtection
   * TechSupport
   * StreamingTV
   * StreamingMovies
   * Contract
   * PaperlessBilling
   * PaymentMethod
   * MonthlyCharges
   * TotalCharges
   * Churn

### Connecting to Postgresql and creating new database

In [3]:
#connecting to default postgresql
connection = psycopg2.connect(
             host = 'localhost',
         database = 'postgres',
             user = 'postgres',
        password  = 'admin'
)
#using cursor we can execute our commands
cursor=connection.cursor()

# if we set autocommit =true,once query runs successfully immediately changes are commited to the database
connection.autocommit = True

#creating an asteroids database
cursor.execute('DROP DATABASE IF EXISTS telcochurn')
cursor.execute('CREATE DATABASE telcochurn')
print("telcochurn database is created successfully")


#closing the cursur and connection
cursor.close()
connection.close()

telcochurn database is created successfully

In [11]:
# based on the tables, subsetting the dataframe and storing values
customer_details_df = churn_df[['customerID','gender','SeniorCitizen','Partner','Dependents','tenure']]
telco_services_df = churn_df[['customerID','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection',\
                              'TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod',\
                              'MonthlyCharges','TotalCharges','Churn']]

### Creating tables

In [12]:
# To create tables under asteroids database, we have to make connection with our database
connection = psycopg2.connect(
             host = 'localhost',
         database = 'telcochurn',
            user  = 'postgres',
         password = 'admin'
)

connection.autocommit = True
cursor = connection.cursor()

cursor.execute('DROP TABLE IF EXISTS customer_details')
cursor.execute('DROP TABLE IF EXISTS telco_services')

cursor.execute("CREATE TABLE customer_details (customerID varchar(255) PRIMARY KEY,\
                                               gender varchar(255),\
                                               SeniorCitizen varchar(255),\
                                               Partner varchar(255),\
                                               Dependents varchar(255),\
                                               tenure numeric);")

cursor.execute("CREATE TABLE telco_services (customerID varchar(255),\
                                            PhoneService varchar(255),\
                                            MultipleLines varchar(255),\
                                            InternetService varchar(255),\
                                            OnlineSecurity varchar(255),\
                                            OnlineBackup varchar(255),\
                                            DeviceProtection varchar(255),\
                                            TechSupport varchar(255),\
                                            StreamingTV varchar(255),\
                                            StreamingMovies varchar(255),\
                                            Contract varchar(255),\
                                            PaperlessBilling varchar(255),\
                                            PaymentMethod varchar(255),\
                                            MonthlyCharges numeric,\
                                            TotalCharges varchar(255),\
                                            Churn varchar(255));")

#closing connection
cursor.close()
connection.close()

### Inserting datas into tables

In [13]:
connection = psycopg2.connect(
             host = 'localhost',
         database = 'telcochurn',
            user  = 'postgres',
         password = 'admin'
)
connection.autocommit = True
cursor = connection.cursor()
        
customer_details_insert = ("INSERT INTO customer_details (customerID,\
                                                          gender,\
                                                          SeniorCitizen,\
                                                          Partner,\
                                                          Dependents, \
                                                          tenure)\
                                                          VALUES (%s,%s,%s,%s,%s,%s);")

telco_services_insert = ("INSERT INTO telco_services (customerID,\
                                                    PhoneService, \
                                                    MultipleLines,\
                                                    InternetService,\
                                                    OnlineSecurity,\
                                                    OnlineBackup,\
                                                    DeviceProtection,\
                                                    TechSupport,\
                                                    StreamingTV,\
                                                    StreamingMovies,\
                                                    Contract,\
                                                    PaperlessBilling,\
                                                    PaymentMethod,\
                                                    MonthlyCharges,\
                                                    TotalCharges,\
                                                    Churn)\
                                                    VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);")

#creating a function to insert datas into tables

def insert(insert, df):
    for i,row in df.iterrows():
        cursor.execute(insert,list(row))
        
#calling insert function
insert(customer_details_insert,customer_details_df)
insert(telco_services_insert,telco_services_df)

cursor.close()
connection.close()

In [1]:
#import sql magic function- pip install ipython-sql
%load_ext sql

### Printing the tables

In [8]:
#postgresql://username:password@hostname/dbname
%sql postgresql://postgres:admin@localhost/telcochurn 
        
%sql select * from customer_details limit 5;

 * postgresql://postgres:***@localhost/telcochurn
5 rows affected.

[('7590-VHVEG', 'Female', '0', 'Yes', 'No', Decimal('1')),
 ('5575-GNVDE', 'Male', '0', 'No', 'No', Decimal('34')),
 ('3668-QPYBK', 'Male', '0', 'No', 'No', Decimal('2')),
 ('7795-CFOCW', 'Male', '0', 'No', 'No', Decimal('45')),
 ('9237-HQITU', 'Female', '0', 'No', 'No', Decimal('2'))]

In [15]:
%sql select * from telco_services limit 5;

 * postgresql://postgres:***@localhost/telcochurn
5 rows affected.

[('7590-VHVEG', 'No', 'No phone service', 'DSL', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Electronic check', Decimal('29.85'), '29.85', 'No'),
 ('5575-GNVDE', 'Yes', 'No', 'DSL', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'One year', 'No', 'Mailed check', Decimal('56.95'), '1889.5', 'No'),
 ('3668-QPYBK', 'Yes', 'No', 'DSL', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Mailed check', Decimal('53.85'), '108.15', 'Yes'),
 ('7795-CFOCW', 'No', 'No phone service', 'DSL', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'One year', 'No', 'Bank transfer (automatic)', Decimal('42.3'), '1840.75', 'No'),
 ('9237-HQITU', 'Yes', 'No', 'Fiber optic', 'No', 'No', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Electronic check', Decimal('70.7'), '151.65', 'Yes')]

### Querying data:

###  Show the total number of customers from telco industry

In [16]:
# printing total no of customers in the dataset
%sql select count(customerid)as customer_count from customer_details

 * postgresql://postgres:***@localhost/telcochurn
1 rows affected.

[(7043,)]

### Joining the tables

In [24]:
# joining customer details and telco services table to find total count of churn and no churn
%sql select cs.Churn,count(*)\
     from customer_details as cd\
     inner join telco_services as cs\
     on cs.customerID=cd.customerID\
     group by  Churn;

 * postgresql://postgres:***@localhost/telcochurn
2 rows affected.

[('No', 5174), ('Yes', 1869)]

In [28]:
# printing only churning customer id and their contract
%sql select cs.customerID,cs.contract\
     from customer_details as cd\
     inner join telco_services as cs\
     on cs.customerID=cd.customerID\
     where Churn='Yes'\
     limit 5;

 * postgresql://postgres:***@localhost/telcochurn
5 rows affected.

[('3668-QPYBK', 'Month-to-month'),
 ('9237-HQITU', 'Month-to-month'),
 ('9305-CDSKC', 'Month-to-month'),
 ('7892-POOKP', 'Month-to-month'),
 ('0280-XJGEX', 'Month-to-month')]